:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
/* Layout */
body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "head head"
    "side nav"
    "side main";
    grid-template-columns: 80px 1fr;
    grid-template-rows: 69px 60px 1fr;
}
body>header{
    grid-area: head;
    border-bottom: 1px solid lightgray;
}
body>nav{
    grid-area: nav;
    background-color: blueviolet;
}
body>aside{
    grid-area: side;margin-top: 12px;
}
body>main{
    grid-area: main;
    background-color: burlywood;
}
/* Header */
body>header{
    display: flex;
    justify-content: space-between;
}
body>header>section{
    display: flex;
    align-items: center;
}
.logo-section, .login-section {
    gap: 1.5rem;
    padding: 0 28px;
}
.head-button {
    border: none;
    background-color: transparent;
    color: #0d2437;
    padding: 0.85rem 1.3rem;
    border-radius: 10rem;
    max-height: 35px;
    min-width: 64px;
    display: inline-flex;
    align-items: center;
}
#right-head-button {
    border: 2px solid #74CC1D;
}
.searchbar-section>input {
    height: 35px;
    width: 40vw;
    border-top-left-radius: .7rem;
    border-bottom-left-radius:.7rem;
    border: 1px solid lightgray;
    border-right: none;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-right: auto;
}
.searchbar-section>button {
    max-width: 50px;
    height: 35px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-left: none;
    border-top-right-radius: .7rem;
    border-bottom-right-radius:.7rem;
    padding: 0.5rem 1rem;
}
.logo-section, .login-section>button:hover{
    cursor: pointer;
}
.login-section>button:hover {
    background-color: #f3f5f8;
}
.searchbar-section>button:hover {
    cursor: pointer;
}
/* Sidebar */
.side-bar>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 8px 4px;
    margin: 0 8px;
    font-size: 10px;
    text-decoration: none;
    color: #0d2437;
}
.side-bar>li>a:hover {
    background-color: #f3f5f8;
    border-radius: 1rem;
}
.side-bar>li>.side-img:hover {
    background-color: transparent;
}
aside>hr {
    border: 0;
    border-top: 1px solid lightgray;
    margin: 0 7px;
}
.side-bar>span {
    font-size: 10px;
    padding: 20px 10px;
    margin: 0 8px;
    font-weight: bold;
}
#Theme-span{
    margin: 0 12px;
} 
.side-img>img {
    border-radius: 50%;
}
.side-system {
    text-align: center;
    padding: 8px 4px;
    margin: 0 8px;
}
.side-system:hover {
    background-color: #f3f5f8;
    border-radius: 1rem;
}
#system-default {
    color: #74CC1D;
}
aside {
    overflow: auto;
}
aside::-webkit-scrollbar {
    display: none;
}
/* Media Queries */
@media screen and (max-width:960px){
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "head"
        "nav"
        "main";
    }
    body>aside{
        display: none;
    }
    .login-section {
        gap: .5rem;
    }
    .head-button {
        padding: 0.5rem 0.7rem;
        width: 74px;
    }
    .searchbar-section>input {
        width: 25vw;
    }
    .searchbar-section>button {
        width: 50px;
    }
}
@media screen and (max-width:640px){
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "head"
        "nav"
        "main";
    }
    body>aside{
        display: none;
    }
    .head-button {
        padding: 0.5rem 0.7rem;
        width: 74px;
        gap: .5rem;
    }
    .logo-section, .login-section {
        gap: none;
        padding: 0 10px;
    }
    .searchbar-section {
        margin-left: auto;
    }
    .searchbar-section>input {
        display: none;
    }
    .searchbar-section>button {
        border: none;
    }
}